form('[formGroup]'='form' '(ngSubmit)'='onSubmit()').diagnose-form
  .date-container
    p Дата:
    input(
      'type'='date'
      'formControlName'='date'
      '[min]'='todayDate'
    )
  p Діагнози за ICPC-2
  .user-diagnoses
    .user-diagnoses-list(
      'formArrayName'='userDiagnoses'
      '*ngFor'='let control of userDiagnosesControl.controls; let i = index'
    )
      ng-container(
        '[formGroupName]'='i'
      )
        .form-row
          ng-select(
            'formControlName'='diagnose'
            '[hideSelected]'='true'
            'placeholder'="Оберіть діагноз"
          )
            ng-option(
              *ngFor='let diagnose of diagnoses; let name = index'
              '[value]'='diagnose'
            )
              span('title' = '{{diagnose.code + " " + diagnose.name}}') {{ diagnose.code + ' ' + diagnose.name  }}
          input('type'='comment' 'formControlName'='comment' 'placeholder'='коментар')
    button.add('type'='button' '(click)'='onAddControl()') + додати ще
  button.create Сформулювати JSON
  .diagnose-form-json-result
    p JSON
    textarea(
      '[readOnly]'='true'
    ) {{ jsonResult }}

