@import 'styles/reset.css';

body {
  display: flex;
  justify-content: center;
  font-family: Helvetica, serif;
  background-color: #eef0f8;
}

button:hover {
  cursor: pointer;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
